.verticalbar {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 444px; 
    height: 300vh;
    background-color: #2e2828;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    padding: 10px 0; 
    z-index: 1000; 
    box-shadow: black 3px 3px 3px 3px;   
}

.logo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}

